In [100]:
import pandas as pd

In [101]:
!ls

bank_universe.ipynb cb_structure.csv    si_structure.csv

In [129]:
cb_structure = pd.read_csv('cb_structure.csv', index_col='YEAR')
si_structure = pd.read_csv('si_structure.csv', index_col='YEAR')
#cb_financials = pd.read_csv('cb_financials.csv', index_col='YEAR')
#si_financials = pd.read_csv('si_financials.csv', index_col='YEAR')

In [130]:
print(cb_structure.shape, si_structure.shape)

(22, 10) (22, 12)

In [131]:
cb_structure.drop(['ID','BRANCHES','STNAME'], axis=1, inplace=True)
cb_structure.tail(10)

      MERGERS  New_Char  OTHER  PAID_OFF  REL_CO  TOTAL  UNASSIST
YEAR
2011       85        5     200        0      212   6279      186
2012       48        1     185        1      198   6087      182
2013       17        1     169        1      169   5851      213
2014       16        0     174        0      186   5609      251
2015        6        1     208        0      219   5348      272
2016        5        0     135        0      141   5115      227
2017        6        5     156        0      153   4918      204
2018        0        7     148        0      147   4717      229
2019        4       13     153        0      146   4523      209
2020        3        7      92        0       87   4377      149

In [139]:
cb_terms = {'MERGERS':'Failures assisted merger', 
            'New_Char':'New commercial banks',
            'OTHER':'Other adjustments',
            'PAID_OFF':'Failures paid off',
            'REL_CO':'Conversions',
            'TOTAL':'Total commercial banks',
            'UNASSIST':'Unassisted merger'}
cb_structure = cb_structure.rename(columns=cb_terms)

In [140]:
cb_structure = cb_structure.reindex(columns=['Total commercial banks', 
                                             'New commercial banks',
                                             'Unassisted merger',
                                             'Failures assisted merger',
                                             'Failures paid off',
                                             'Conversions',                                         
                                             'Other adjustments'])
cb_structure.head(20)

,Total commercial banks,New commercial banks,Unassisted merger,Failures assisted merger,Failures paid off,Conversions,Other adjustments
YEAR,,,,,,,
1999,8452,232,455,6,0,294,266
2000,8200,190,509,7,0,471,431
2001,7998,127,390,3,0,405,369
2002,7803,91,316,7,4,311,268
2003,7698,110,243,2,0,233,223
2004,7570,122,286,3,0,249,224
2005,7467,167,287,0,0,234,219
2006,7402,179,319,0,0,255,239
2007,7288,176,293,2,0,309,297
2008,7086,91,279,20,0,274,251
2009,6828,29,170,122,6,233,228
2010,6532,10,183,131,3,258,254
2011,6279,5,186,85,0,212,200
2012,6087,1,182,48,1,198,185
2013,5851,1,213,17,1,169,169
2014,5609,0,251,16,0,186,174
2015,5348,1,272,6,0,219,208
2016,5115,0,227,5,0,141,135
2017,4918,5,204,6,0,153,156
2018,4717,7,229,0,0,147,148

In [133]:
si_structure.tail()

,ID,SAVINGS,STNAME,alsonew,chartoth,chrtrest,comboass,combos,newcount,tofail,tomerg,tortc
YEAR,,,,,,,,,,,,
2016,SI_2...,801,Unit...,0,0,2,0,17,0,0,13,0
2017,SI_2...,754,Unit...,0,1,0,1,21,0,0,5,0
2018,SI_2...,691,Unit...,0,0,0,0,14,1,0,18,0
2019,SI_2...,659,Unit...,0,0,0,0,11,0,0,8,0
2020,SI_2...,627,Unit...,0,0,0,0,9,0,0,11,0

In [125]:
si_structure.drop(['ID','STNAME', 'tofail', 'tortc', 'alsonew'], axis=1, inplace=True)
si_structure.tail(5)

      SAVINGS  chartoth  chrtrest  comboass  combos  newcount  tomerg
YEAR
2011     1084        1         0         0       11        0        2
2012     1015        0         0         0       20        0       10
2013      966        0         0         0       11        0       10
2014      903        0         0         2       16        0       11
2015      845        0         0         0       19        0       17
2016      801        0         2         0       17        0       13
2017      754        1         0         1       21        0        5
2018      691        0         0         0       14        1       18
2019      659        0         0         0       11        0        8
2020      627        0         0         0        9        0       11

In [142]:
si_terms = {'SAVINGS':'Total savings banks',
            'chartoth':'Transfer from comercial banks',
            'chrtrest':'Noninsured becoming insured',
            'comboass':'Assisted mergers with thrifts',
            'combos':'Unassisted mergers with thrifts',
            'newcount':'New savings banks',
            'tomerg': 'Unassisted mergers with cbs'}
si_structure = si_structure.rename(columns=si_terms)

si_structure = si_structure.reindex(columns=['Total savings banks', 
                                             'New savings banks',
                                             'Noninsured becoming insured',
                                             'Transfer from comercial banks',
                                             'Assisted mergers with thrifts',
                                             'Unassisted mergers with thrifts',                                         
                                             'Unassisted mergers with thrifts'])

si_structure.head(22)

,Total savings banks,New savings banks,Noninsured becoming insured,Transfer from comercial banks,Assisted mergers with thrifts,Unassisted mergers with thrifts,Unassisted mergers with thrifts
YEAR,,,,,,,
1999,1639,36,24,6,1,34,34
2000,1587,30,45,4,0,28,28
2001,1530,16,57,3,1,32,32
2002,1469,1,10,2,0,28,28
2003,1411,5,14,2,0,24,24
2004,1349,5,6,2,0,30,30
2005,1309,12,2,2,0,20,20
2006,1284,14,2,1,0,15,15
2007,1255,9,8,4,1,22,22
2008,1232,4,2,6,1,16,16
2009,1183,1,0,0,5,11,11
2010,1139,0,1,0,6,8,8
2011,1084,0,0,1,0,11,11
2012,1015,0,0,0,0,20,20
2013,966,0,0,0,0,11,11
2014,903,0,0,0,2,16,16
2015,845,0,0,0,0,19,19
2016,801,0,2,0,0,17,17
2017,754,0,0,1,1,21,21
2018,691,1,0,0,0,14,14
2019,659,0,0,0,0,11,11
2020,627,0,0,0,0,9,9